/* #2bbda6 */
.nav {
  /* display: flex; */
}

.navCat {
  padding: 10px;
  text-transform: uppercase;
}

.navListed {
  font-size: 0.8em;
  font-weight: 500;
  background: var(--teal);
  color: white;
  border-radius: 3px;
  align-self: center;
}

.navCatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-direction: row; */
}
/* @media (min-width: 769px) {
  .nav__cat {
    flex-direction: row;
    justify-content: space-between;
  }
} */

@media (min-width: 768px) {
  .navCatContainer {
    flex-direction: row;
  }
}
