.cardTopContact {
  display: grid;
  grid-auto-rows: 1fr;
  margin-top: auto;
}

.cardTopSocial {
  display: flex;
  flex-wrap: wrap;
}

.cardTopSocial p {
  margin-right: 1em;
}

.cardContactPhone {
  border: 1px solid var(--orange);
  background: none;
  color: var(--orange);
  display: block;
  width: 100%;
}

.cardLink {
  text-decoration: none;
  color: var(--tealDark1);
}

.cardContactSite {
  background-color: var(--orange);
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 1px;
  padding: 5px;
  width: 100%;
}

.cardContactSite a {
  text-decoration: none;
  color: white;
  margin: auto;
}

.utilVertCenter {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .cardTop {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .cardTopContact {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    margin-right: 1em;
    margin-bottom: 1em;
  }
}
