.pickContainerHeader {
  color: var(--teal);
  /* padding: 0 0 1em 0 */
  padding-bottom: 1em;
  font-weight: 200;
  font-size: 2em;
}

.pickContainerPicks {
  padding: 2em;
  background-color: white;
  margin-top: 2em;
}

.pickContainerPicks h2 {
  color: var(--tealDark2);
  margin-bottom: 1em;
}
