/* Single column, mobile first layout */
.topHalfGrid {
  margin: 0px auto 2em auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 2em;
  grid-template-areas:
    "pickContainer"
    "sidebar";
}

.pickContainerGrid {
  grid-area: pickContainer;
}

.sidebarGrid {
  grid-area: sidebar;
  height: 100%;
}

@media (min-width: 768px) {
  .topHalfGrid {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .topHalfGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "pickContainer pickContainer sidebar";
  }
}
